PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017/healthcare_blockchain

JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_STRING
JWT_EXPIRES_IN=7d

PRIVATE_KEY=YOUR_WALLET_PRIVATE_KEY_HERE
RPC_URL=http://127.0.0.1:8545

MEDICAL_RECORDS_ADDRESS=0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0
BLOOD_DONATION_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
ORGAN_DONATION_ADDRESS=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
MEDICINE_VERIFICATION_ADDRESS=0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9

IPFS_HOST=ipfs.infura.io
IPFS_PORT=5001
IPFS_PROTOCOL=https
